{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{dialyzer_opts, [{warnings, [unmatched_returns]}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{clean_files, [".eunit", "ebin/*.beam"]}.

{deps_dir, ["deps"]}.

%% == escriptize ==
%% {escript_name, "application"}.
{escript_incl_apps, [zlists, getopt]}.
%% {escript_shebang, "#!/usr/bin/env escript\n"}.
%% {escript_comment, "%%\n"}.
%% {escript_emu_args, "%%! -pa application/application/ebin\n"}.


% Deps
{deps, [
        {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git",     {tag, "v0.7.0"}} },
        {zlists, ".*", {git, "git://github.com/vjache/erlang-zlists.git", {tag, "0.0.2"}} }
       ]}.
